html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: clamp(3rem, 8vw, 6rem);
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0.1vw;
  margin: 0;
}